* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "bold";
  src: url(assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: "medium";
  src: url(assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: "regular";
  src: url(assets/fonts/Ubuntu-Regular.ttf);
}

body {
  background-color: hsl(229, 24%, 87%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "regular";
}

.hidden {
  display: none;
}

.lighten {
  color: hsl(229, 24%, 87%);
}
.darken {
  color: hsl(231, 11%, 63%);
}
/*  In CSS, block elements like <div>, by default, expand horizontally to fill their parent's width, but vertically, they expand only as much as their content requires.*/
/* the elements shrink inside div shrink when using height/width as % it automatically adapts so remove that || in case of flex flex-shrink : 0*/
.container {
  background-color: hsl(0, 0%, 100%);
  width: 55%;
  min-width: 500px;
  display: flex;
  padding: 20px;
  border-radius: 10px;
}

.menu {
  width: 250px;
  height: 525px;
  border-radius: 20px;
  background: url(assets/images/bg-sidebar-desktop.svg) no-repeat;
}

.list {
  list-style-position: inside;
  list-style-type: none;
}

.items {
  margin: 20px;
  color: hsl(229, 24%, 87%);
  font-family: "regular";
  font-size: 13px;
}

.item-det {
  font-size: 16px;
  font-family: "medium";
  color: whitesmoke;
  letter-spacing: 1.5px;
}

.page-container {
  flex: 1;
  padding: 24px;
  position: relative;
}

.page-heading {
  font-size: 30px;
  letter-spacing: 4px;
}

.page-desc {
  color: hsl(231, 11%, 63%);
  padding: 20px 0px;
  letter-spacing: 1px;
}

.label-desc {
  font-size: 18px;
  margin: 15px 0px;
}

.textbox {
  width: 600px;
  height: 45px;
  border-radius: 7px;
  border-color: hsl(229, 24%, 87%);
}

::placeholder {
  padding-left: 20px;
  font-size: 15px;
}

.nav-btn-next {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0px 40px 20px 0px;
  border-radius: 7px;
  width: 110px;
  height: 35px;
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
}

.plan {
  border-style: solid;
  border-color: hsl(231, 11%, 63%);
  border-radius: 10px;
  height: 170px;
}

.inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.plan-svg {
  margin: 10px 0px 0px 10px;
}

.plan-info {
  margin: 45px 0px 0px 10px;
}

.plan-content {
  margin-bottom: -10px;
}

.plan-switcher {
  grid-column: 1/-1;
  display: flex;
  background-color: aqua;
  justify-content: center;
  margin-top: 30px;
  padding: 10px 0px;
}

.nav-btns {
  position: absolute;
  width: 80vh;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.nav-btn-back {
  width: 110px;
  border: none;
  font-size: 14px;
  background-color: white;
  margin-bottom: 20px;
  height: 35px;
}

/* problems : button toggle, 1,2,3,4 , shrinking problem */

/*       

      <!-- Step 3 start -->
      <section>
        <h1>Pick add-ons</h1>
        <p>Add-ons help enhance your gaming experience.</p>
        <div>
          <div>
            <input type="checkbox" />
            <h3>Online Service</h3>
            <br />
            <p>Online service Access to multiplayer games</p>
          </div>
          <div>+$1/mo</div>
        </div>
        <div>
          <div>
            <input type="checkbox" />
            <h3>Larger storage</h3>
            <br />
            <p>Extra 1TB of cloud save</p>
          </div>
          <div>+$2/mo</div>
        </div>
        <div>
          <div>
            <input type="checkbox" />
            <h3>Customizable Profile</h3>
            <br />
            <p>Custom theme on your profile</p>
          </div>
          <div>+$2/mo</div>
        </div>
        <button>Go Back</button>
        <button>Next Step</button>
      </section>

      <!-- Step 3 end -->

      <!-- Step 4 start -->
      <section>
        <h1>Finishing up</h1>
        <p>Double-check everything looks OK before confirming.</p>
        <div class="summary-info"></div>
        <button>Go Back</button>
        <button>Confirm</button>
      </section>

      <!-- Step 4 end -->

      <!-- Step 5 start -->
      <section>
          
                  <img src="assets/images/icon-thank-you.svg" alt="" />
        <h1>Thank you!</h1>
        <p>
          Thank you! Thanks for confirming your subscription! We hope you have
          fun using our platform. If you ever need support, please feel free to
          email us at support@loremgaming.com.
        </p>
      </section> */
